<events>
<event compact='U:.' integral='U:E:.' descriptor='virtualize event ' />
<event compact='A:.' integral='A:E:.' descriptor='actualize event generate' />
<event compact='wo.' integral='U:U:.' descriptor='possible ' />
<event compact='wa.' integral='U:A:.' descriptor='operate ' />
<event compact='wu.' integral='A:U:.' descriptor='perceive ' />
<event compact='we.' integral='A:A:.' descriptor='reconstitute ' />
<event compact='y.' integral='U:S:.' descriptor='know ' />
<event compact='o.' integral='U:B:.' descriptor='want ' />
<event compact='e.' integral='U:T:.' descriptor='can ' />
<event compact='u.' integral='A:S:.' descriptor='express ' />
<event compact='a.' integral='A:B:.' descriptor='commit ' />
<event compact='i.' integral='A:T:.' descriptor='do ' />
<event compact='S:.' integral='S:E:.' descriptor='sign event ' />
<event compact='B:.' integral='B:E:.' descriptor='being event ' />
<event compact='T:.' integral='T:E:.' descriptor='thing event signifier' />
<event compact='j.' integral='S:U:.' descriptor='mutation document' />
<event compact='g.' integral='S:A:.' descriptor='mutation meaning' />
<event compact='h.' integral='B:U:.' descriptor='mutation personal' />
<event compact='c.' integral='B:A:.' descriptor='mutation referent' />
<event compact='p.' integral='T:U:.' descriptor='mutation material' />
<event compact='x.' integral='T:A:.' descriptor='mutation ' />
<event compact='s.' integral='S:S:.' descriptor='thought ' />
<event compact='b.' integral='S:B:.' descriptor='language ' />
<event compact='t.' integral='S:T:.' descriptor='memory ' />
<event compact='k.' integral='B:S:.' descriptor='society ' />
<event compact='m.' integral='B:B:.' descriptor='affect ' />
<event compact='n.' integral='B:T:.' descriptor='world ' />
<event compact='d.' integral='T:S:.' descriptor='truth ' />
<event compact='f.' integral='T:B:.' descriptor='life ' />
<event compact='l.' integral='T:T:.' descriptor='space ' />
</events>
