/* ======================================================== */
/* ===================== Global Styles ==================== */
/* ======================================================== */



div.NoSelect
    { 
    display:block;
    height:35px;  width:150px;
    border:1px outset #dbecff;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:8pt;
    line-height:15pt;
    text-align:center;
    background-color:#6699CC;
    }



a.NoSelect
    {
    background-color:#6699CC;
    }
a.NoSelect:visited
    { 
    color:#000099;
    text-decoration:none;
    }

div.NoSelect:hover
    { 
    border-style: inset;
    }


a.NoSelect:link
    { 
    color:#000099;
    text-decoration:none;
    }

a.IsSelect:link, a.IsSelect:visited
    { 
    display:block;
    height:55px;  width:80px;
     border:1px outset #dbecff;
    font-family:Arial, Helvetica, Sans-Serif;
    font-weight:bold;
    font-size:9pt;
    line-height:15pt;
    text-align:center;
    }

a.IsSelect
    {
    background-color:#66CCFF;
    }


a.IsSelect:hover
    { 
    border-style: inset;
    }
a.IsSelect:visited
    { 
    color:#000099;
    text-decoration:none;
    }
a.IsSelect:link
    { 
    color:#000099;
    text-decoration:none;
    }

a.NoSelectDesc:link, a.a.NoSelectDesc:visited
    { 
    display:block;
    height:55px;  width:80px;
    border:1px outset #dbecff;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:8pt;
    line-height:15pt;
    text-align:center;
    }



a.NoSelectDesc
    {
    background-color:#6699FF;
    }
a.NoSelectDesc:visited
    { 
   color:#000099;
    text-decoration:none;
    }

a.NoSelectDesc:hover
    { 
    border-style: inset;
    }


a.NoSelectDesc:link
    { 
    color:#000099;
    text-decoration:none;
    }

a.IsSelectDesc:link, a.IsSelectDesc:visited
    { 
    display:block;
    height:55px;  width:80px;
    border:1px outset #dbecff;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:8pt;
    line-height:15pt;
    text-align:center;
    }

a.IsSelectDesc
    {
    background-color:#66CCFF;
    }


a.IsSelectDesc:hover
    { 
    border-style: inset;
    }
a.IsSelectDesc:visited
    { 
   color:#000099;
    text-decoration:none;
    }
a.IsSelectDesc:link
    { 
    color:#000099;
    text-decoration:none;
    }

