/* ======================================================== */
/* ===================== Global Styles ==================== */
/* ======================================================== */


.help { 
    color:blue;
    font-weight:bold;
    font-size:150%; 
} 
