@import url("chrome://global/skin");

treechildren::-moz-tree-row(utilisateur){background-color: green;}
treechildren::-moz-tree-row(dictio){background-color: yellow;}
.NoSelect{
	 display:block;
	 width:100px;
   	 border:1px outset #dbecff;
	 background-color: #6699CC;
	 font-family:Arial, Helvetica, Sans-Serif;
     font-size:7pt;
     line-height:15pt;
     text-align:center;
}

.NoSelect:hover{ 
    border-style: inset;
}